<section id="post-<%= post.id %>">
  <div class="post contain">
    <%- if post.external? -%>
      <h1 class="external">
        <% if @single_post %><%= link_to post.title, post.url %><% else %><%= link_to post.title, post.url %><% end %>
        <%= link_to '⚓', post.slug, :class => 'permalink' %>
      </h1>
    <%- else -%>
      <h1><% if @single_post %><%= post.title %><% else %><%= link_to post.title, post.slug %><% end %></h1>
    <%- end -%>

    <% if post.content %><%= markdown(post.content).to_html.html_safe %><% end %>

    <%- if is_admin? -%>
      <ul class="actions">
        <li><%= link_to 'Edit', '/edit/' + post.id.to_s unless @preview %></li>
      </ul>
    <%- end -%>

    <%- if @single_post -%>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'badassrockstartech'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    <%- end -%>
  </div>

  <% if @single_post %><a class="button space-top" href="<%= root_url %>">Back to Blog</a><% end %>
</section>
